body {
  background-color: #000000e0 !important;
}
.form-control {
  background-color: transparent !important;
  color: white !important;
}
.grow {
  transition: 1s ease;
}

.grow:hover {
  transform: scale(1.05);
  transition: 1s ease;
}
h6 {
  font-size: 0.9rem !important;
}
